/*
 * add base styles for typography and others
 */

.flow > * + * {
  margin-top: var(--flow-space);
}

.flow {
  --flow-space: 1em;
}

html {
  font-size: 1rem;
  line-height: 1.6;
  font-feature-settings:"ss01" on, "ss04" on;
}

p,
li,
h1,
h2,
h3,
h4 {
  /* Help prevent overflow of long words/names/URLs */
  word-break: break-word;

  /* Optional, not supported for all languages */
  hyphens: auto;
}

h1,h2,h3,h4,h5,h6 {
  @apply font-secondary;
  --flow-space: 2em;
}

h1 {
  @apply text-2xl font-black;
}

h2 {
  @apply text-lg font-extrabold;
}

h3,h4,h5,h6 {
  @apply text-base font-bold;
}

ul, ol {
  @apply ml-6 list-outside;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

li {
  @apply my-2;
}


li:last-child {
  @apply mb-0;
}

hr {
  @apply border-t border-darkergray;
  --flow-space: 2em;
  margin-bottom: 2em;
}

img {
  @apply mb-6 mx-auto max-w-full;
}

figure {
  @apply mx-auto;
  --flow-space: 1.5rem;
  margin-bottom: 1.5rem;
}

figure > img {
  @apply mb-0;
}

figure > figcaption {
  @apply text-center text-sm text-darkergray mt-4;
}

blockquote {
  @apply my-6 px-4 text-base border-l-4 border-double border-darkergray italic;
}

blockquote :last-child {
  @apply mb-0;
}

table {
  @apply mb-6 w-full border-collapse table-auto;
}

td, th {
  @apply text-center border-b border-lightgray pt-3 nums-tabular;
  padding-bottom: calc(theme('spacing.3') - theme('spacing.px'));
}

th {
  @apply font-bold;
}

details {
  @apply mb-6 p-2 border border-darkergray;
}

details > *:last-child {
  @apply mb-0;
}

details summary {
  @apply outline-none;
}

a {
  @apply no-underline;
}

pre, code {
  @apply font-mono;
}

pre.hljs {
  @apply my-6 px-12 py-8 overflow-auto box-border;
  border-right: theme('spacing.12') solid transparent;
}

code {
  @apply text-sm;
}

h1:not(pre) > code, h2:not(pre) > code, h3:not(pre) > code, h4:not(pre) > code, h5:not(pre) > code, h6:not(pre) > code {
  font-size: inherit;
  font-weight: inherit;
}
