/*
Description: syntax color theme for highlight.js
Date: 2020-05-22
*/

pre.hljs {
    @apply bg-lightgray;
    color: var(--base07);
}

/*! purgecss start ignore */
:not(pre) > code {
    @apply bg-lightgray;
    border-width: 1px;
    border-color: var(--base02);
    padding: 0.1rem;
}
/*! purgecss end ignore */

.hljs-comment,
.hljs-quote {
    color: var(--base04);
    font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: var(--base0E);
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: var(--base08);
}

.hljs-literal {
    color: var(--base0C);
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
    color: var(--base0B);
}

.hljs-built_in,
.hljs-class .hljs-title {
    color: var(--base0A);
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: var(--base0F);
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: var(--base0D);
}

.hljs-params {
    color: var(--base09)
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-keyword,
.hljs-title,
.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}
