@tailwind base;

/*
 * under line for a tag
 */
article a {
  @apply underline;
}

/*
 * add border to code blocks
 */
article pre {
  @apply rounded-sm shadow-inner;
}

article :not(pre) > code {
  @apply rounded-sm p-1;
  background-color: #F0F0F4;
}

/*
 * add bullet to list
 */
article ul {
  @apply list-disc;
}

article ol {
  @apply list-decimal;
}

/*
 * fluid svg
 */

svg {
  width: 100%;
  height: 100%;
}

svg > * {
  @apply fill-current;
}

figcaption {
  @apply text-left text-sm p-4;
  color: dimgrey;
}

img {
  max-width: 600px;
}

figure > img {
  @apply mb-0;
}

@tailwind components;

/* Custom class from here */
/*
 * Add some base styles
 */

/*
 * Style post list
 * There are two basic styles of listing post
 * post-item and post-card
 * post-item show post title, date and a button to open excerpt when clicked
 * post-card show post title and excerpt
 * Inside a post-item
 * Define post-info and post-excerpt
 * <a>, <time> and <button> tag are styled directly using css selector
 */
.post-item {
  @apply mb-0 py-2 border-t border-b border-transparent;
}

.post-item:hover {
  @apply border-black;
}

.post-item .post-info {
  @apply flex;
}

.post-item .post-info > a {
  @apply w-3/5 font-medium truncate;
}

.post-item .post-info > div {
  @apply w-2/5 inline-flex items-center justify-end;
}

.post-item .post-info > div > time {
  @apply mr-2;
  font-variant-numeric: tabular-nums;
  letter-spacing:-.012em;
}

.post-item .post-excerpt {
  @apply overflow-hidden text-gray-700;
  max-height: 0px;
  transition: max-height 0.5s ease-in-out;
}

.post-item .post-excerpt > p:first-child {
  @apply border-t mt-2 pt-2;
}

.post-item .post-excerpt > p:last-child {
  @apply mb-0;
}

.post-card {
  @apply mb-6 p-2 rounded-sm block;
  background-color: #F0F0F4;
}

.post-card:hover {
  @apply shadow-md;
}

.post-card .post-title {
  @apply font-black;
}

.post-card .post-excerpt {
  @apply text-gray-700;
  max-height: 300px;
}

.post-card .post-excerpt > p:last-child {
  @apply mb-0;
}

/*
 * custom class tag
 */
.post-tag {
  @apply py-1 px-2 m-1 bg-gray-200 rounded-sm;
}

.post-tag a {
  @apply no-underline;
}

/*
 * custom class note
 */
.note {
  @apply rounded-sm border-2 p-2;
  border-color: #a6c8dd;
  background-color: #e9f1f6;
  margin-bottom: 1.63rem;
}

.note *:last-child {
  @apply m-0;
}

.nav-fixed {
  @apply inset-x-0 top-0 z-50 fixed;
}

/*
* used for styling the header for non-article section
*/
.section-header {
  @apply font-bold text-2xl border-b-4;
  border-color: #003371;
  width: fit-content;
  width: -moz-fit-content;
}

/*
* displaying research projects on the front page
* use CSS grid
*
*/
.research-display {
  @apply bg-black border border-solid border-black rounded-sm;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
}

.research-item {
  @apply flex flex-col justify-between bg-white p-2; 
}

.research-item h2 {
  @apply mb-0 font-medium leading-tight text-base;
}

.research-item figure {
  @apply m-0 relative;
  padding-top: 100%;
}

.research-item figure > img {
  @apply absolute h-full inset-0 object-contain;
}

@tailwind utilities;

.unactive-nav {
  position: relative;
}

.unactive-nav::before, .unactive-nav::after {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  height: 2px;
  background-color: #003371;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.unactive-nav::before {
  top: 0;
  transform-origin: center right;
}

.unactive-nav:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}

.unactive-nav::after {
  bottom: 0;
  transform-origin: center left;
}

.unactive-nav:hover::after {
  transform-origin: center right;
  transform: scaleX(1);
}

.active-nav {
  position: relative;
}

.active-nav::before, .active-nav::after {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  height: 2px;
  background-color: #003371;
  transform: scaleX(1);
  transition: transform 0.5s ease;
}

.active-nav::before {
  top: 0;
  transform-origin: center right;
}


.active-nav::after {
  bottom: 0;
  transform-origin: center left;
}



/*
 * CSS plus/minus animation
 */

.plus-minus {
  position: relative;
  width: 0.5em;
  height: 0.5em;
  min-width: 0.5em;
  min-height: 0.5em;
  /* Vertical line */
  /* horizontal line */
}
.plus-minus:before, .plus-minus:after {
  content: "";
  position: absolute;
  background-color: black;
  transition: transform 0.25s ease-out;
}
.plus-minus:before {
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
}
.plus-minus:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: -1px;
}
.plus-minus:focus {
  outline: none;
}

.plus-minus-toggle.plus-minus {
  cursor: pointer;
}

.plus-minus-toggle.plus-minus:before {
  transform: rotate(90deg);
}

.plus-minus-toggle.plus-minus:after {
  transform: rotate(180deg);
}

@tailwind screens;

@screen md {
  article.single-post figure {
    left: 50%;
    right: 50%;
    margin-left: -384px;
    margin-right: -384px;
    max-width: 768px;
    width: 768px;
    position: relative;
  }

  article.single-post pre {
    left: 50%;
    right: 50%;
    margin-left: -384px;
    margin-right: -384px;
    max-width: 768px;
    width: 768px;
    position: relative;
  }
}

@screen sm {
  /*
  * on small screen display two research projects per row
  */
  .research-display {
    @apply bg-black border border-solid border-black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1px;
  }
}
