@import "./font.css";
@import "./color.css";
@import "./highlight.css";
@import "./typeset.css";
@import "tailwindcss/base";
@import "./base.css";
@import "tailwindcss/components";

/* Custom class from here */
/*
 * Style post list
 * There are two basic styles of listing post
 * post-item and post-card
 * post-item show post title, date and a button to open excerpt when clicked
 * post-card show post title and excerpt
 * Inside a post-item
 * Define post-info and post-excerpt
 * <a>, <time> and <button> tag are styled directly using css selector
 */
.post-item {
  @apply mb-0 py-2 border-t border-b border-transparent;
}

.post-item:hover {
  @apply border-black;
}

.post-item .post-info {
  @apply flex;
}

.post-item .post-info > a {
  @apply w-3/5 font-medium truncate;
}

.post-item .post-info > div {
  @apply w-2/5 inline-flex items-center justify-end;
}

.post-item .post-info > div > time {
  @apply mr-2;
  font-variant-numeric: tabular-nums;
  letter-spacing: -.012em;
}

.post-item .post-excerpt {
  @apply overflow-hidden text-gray-700 italic;
  max-height: 0px;
  transition: max-height 0.5s ease-in-out;
}

.post-item .post-excerpt > *:first-child {
  @apply border-t-2 border-lightgray mt-2 pt-2;
}

.post-item .post-excerpt > *:last-child {
  @apply mb-0;
}

.post-card {
  @apply mb-6 p-2 rounded-sm block;
  background-color: #F0F0F4;
}

.post-card:hover {
  @apply shadow-md;
}

.post-card .post-title {
  @apply font-black;
}

.post-card .post-excerpt {
  @apply text-gray-700;
  max-height: 300px;
}

.post-card .post-excerpt > p:last-child {
  @apply mb-0;
}

/*
* ICON BUTTON
*/

.f-icon {
  @apply p-4 fill-current;
}

.f-icon:hover {
  @apply bg-darkergray text-white;
}

/*
 * custom class tag
 */
.post-tag {
  @apply py-1 px-2 m-1 bg-lightgray;
}

.post-tag a {
  @apply no-underline;
}


/*
 * custom class note
 */
.note {
  @apply border-2 px-3 py-2 border-darkgray bg-lightyellow my-6;
}

.note *:last-child {
  @apply mb-0;
}

/*
 * custom class big-box
 */
.big-box {
  @apply mb-4 p-4 rounded-sm bg-lightgray;
}

.big-box *:last-child {
  @apply m-0;
}

.nav-fixed {
  @apply inset-x-0 top-0 z-50 fixed;
}

/*
* used for styling the header for non-article section
*/
.section-header {
  @apply font-bold text-2xl border-b-2 border-darkergray;
  width: fit-content;
  width: -moz-fit-content;
}

/*
* displaying research projects on the front page
* use CSS grid
*
*/
.research-card-display {
  @apply grid grid-cols-2 gap-3;
}

.research-card {
  @apply flex flex-col justify-between border-2 border-black; 
}

.research-card > .research-title {
  @apply text-base m-0 leading-tight flex-grow text-center p-2 bg-lightgray font-primary font-medium;
}

.research-card > .research-figure {
  @apply m-0 relative;
  padding-top: 100%;
}

.research-card > .research-figure > img {
  @apply absolute h-full inset-0 object-contain;
}

.research-card.group:hover {
  box-shadow:0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}

/*
* displaying the photo EXIF
*/

.photoExifBox{
  @apply border border-black p-1 items-center justify-between mb-0 mt-4 flex text-sm;
}

.photoExifBoxHeader {
  @apply font-medium flex-grow;
}

.photoExif {
  @apply flex text-gray-700 font-mono;
  font-variant:slashed-zero;
  word-spacing: -0.3em;
}

.photoExif > div {
  @apply mr-2;
}

/*
style the table of contents
 */
.table-of-contents {
  @apply invisible h-0 sticky text-sm font-medium font-secondary;
}

.table-of-contents > ol {
  @apply inline-block list-inside p-2;
  border-right: 1px solid theme('colors.lightgray');
  transform: translateX(calc(-100% - (768px - 640px) / 2 - 4em))translateY(-1.3em);
  width: calc(((100vw - 870px) / 2));
  max-width: 300px;
}

.table-of-contents ol {
  list-style-type: none;
}

.table-of-contents li > ol {
  margin-left: 2em;
}

.table-of-contents a {
  @apply no-underline;
}

.table-of-contents li.active-toc:before {
  content: "\002192";
  position: absolute;
  transform: translateX(-100%);
  padding-right: 0.5rem;
}

.img-fullwidth {
  width:98vw;
  position:relative;
  left:50%;
  right:50%;
  margin-left:-49vw;
  margin-right:-49vw;
  max-width:unset;
  max-height:unset
}

@tailwind utilities;

.unactive-nav {
  position: relative;
}

.unactive-nav::before, .unactive-nav::after {
  @apply bg-darkergray;
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.unactive-nav::before {
  top: 0;
  transform-origin: center right;
}

.unactive-nav:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}

.unactive-nav::after {
  bottom: 0;
  transform-origin: center left;
}

.unactive-nav:hover::after {
  transform-origin: center right;
  transform: scaleX(1);
}

.active-nav {
  position: relative;
}

.active-nav::before, .active-nav::after {
  @apply bg-darkergray;
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  height: 2px;
  transform: scaleX(1);
  transition: transform 0.5s ease;
}

.active-nav::before {
  top: 0;
  transform-origin: center right;
}


.active-nav::after {
  bottom: 0;
  transform-origin: center left;
}



/*
 * CSS plus/minus animation
 */

.plus-minus {
  position: relative;
  width: 0.5em;
  height: 0.5em;
  min-width: 0.5em;
  min-height: 0.5em;
}
.plus-minus:before, .plus-minus:after {
  content: "";
  position: absolute;
  background-color: theme('colors.darkgray');
  transition: transform 0.25s ease-out;
}
.plus-minus:before {
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
}
.plus-minus:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: -1px;
}
.plus-minus:focus {
  outline: none;
}

.plus-minus-toggle.plus-minus {
  cursor: pointer;
}

.plus-minus-toggle.plus-minus:before {
  transform: rotate(90deg);
}

.plus-minus-toggle.plus-minus:after {
  transform: rotate(180deg);
}

/*
 * style .number-heading class
 */

.number-heading {
  counter-reset: h2;
}

.number-heading h2 {
  counter-reset: h3;
}

.number-heading h3 {
  counter-reset: h4;
}

.number-heading h4 {
  counter-reset: h5;
}

.number-heading h5 {
  counter-reset: h6;
}

.number-heading h2:before {counter-increment: h2; content: counter(h2) "."; position: absolute; transform: translateX(-100%); padding-right:1em; color: theme('colors.darkgray');}
.number-heading h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) "."; position: absolute; transform: translateX(-100%); padding-right:1em; color: theme('colors.darkgray');}
.number-heading h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) "."; position: absolute; transform: translateX(-100%); padding-right:1em; color: theme('colors.darkgray');}
.number-heading h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "."; position: absolute; transform: translateX(-100%); padding-right:1em; color: theme('colors.darkgray');}
.number-heading h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) "."; position: absolute; transform: translateX(-100%); padding-right:1em; color: theme('colors.darkgray');}

.number-heading h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before { content: ""; counter-increment: none }

/*
 * style .anchor-heading class
 */

h2 > a.header-anchor {
  display: none;
}
h3 > a.header-anchor {
  display: none;
}
h4 > a.header-anchor {
  display: none;
}
h5 > a.header-anchor {
  display: none;
}
h6 > a.header-anchor {
  display: none;
}
h2 > a.header-anchor:after {
  content: none;
}
h3 > a.header-anchor:after {
  content: none;
}
h4 > a.header-anchor:after {
  content: none;
}
h5 > a.header-anchor:after {
  content: none;
}
h6 > a.header-anchor:after {
  content: none;
}
h2:hover > a.header-anchor {
  display: inline;
  color: theme('colors.darkgray');
}
h3:hover > a.header-anchor {
  display: inline;
  color: theme('colors.darkgray');
}
h4:hover > a.header-anchor {
  display: inline;
  color: theme('colors.darkgray');
}
h5:hover > a.header-anchor {
  display: inline;
  color: theme('colors.darkgray');
}
h6:hover > a.header-anchor {
  display: inline;
  color: theme('colors.darkgray');
}

/* styles for button */

.l-button {
  @apply block my-6 p-4 w-full font-bold bg-lightgray text-center fill-current;
}

.l-button > *:last-child {
  @apply mb-0;
}

.l-button:first-child {
  @apply mt-0;
}

.l-button:hover {
  @apply bg-darkergray text-white;
}

a.l-button {
  @apply no-underline text-black;
}

.b-text a:after {
  color: #C32136;
  content: "\0000B0";
  font-size: 0.9em;
  top: -0.15em;
  position: relative;
  margin-left: 0.1em;
  font-feature-settings: "caps";
  font-variant-numeric: normal;
}

.b-text a:hover {
  @apply bg-darkyellow rounded-sm;
}

.b-text a.clear-after:after {
  content: none;
}

.footnote-ref a:after {
  content: none;
}

.footnotes a:after {
  content: none;
}

.table-of-contents a:after {
  content: none;
}

.tab-pane {
  @apply hidden;
}

.tab-pane.tab-active {
  @apply block;
}

.nav-tab li {
  @apply cursor-pointer;
}

.nav-tab li > a {
  @apply pointer-events-none;
}

.nav-tab .tab-active {
  @apply border-b-2 border-black;
}

@tailwind screens;

@screen md {
  article.single-post figure {
    left: 50%;
    right: 50%;
    margin-left: -384px;
    margin-right: -384px;
    max-width: 768px;
    width: 768px;
    position: relative;
  }
}

@screen sm {
  /*
  * on large screen display four research projects per row
  */
  .research-card-display {
    @apply grid grid-cols-4 gap-3;
  }

  /* adjust heading so that the heading is not hinderred when anchored */
  /*
  .single-post h2 {
    @apply -mt-16 border-t-16 border-solid border-transparent;
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box;
  }

  .single-post h3 {
    @apply -mt-16 border-t-16 border-solid border-transparent;
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box;
  }

  .single-post h4 {
    @apply -mt-16 border-t-16 border-solid border-transparent;
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box;
  }

  .single-post h5 {
    @apply -mt-16 border-t-16 border-solid border-transparent;
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box;
  }

  .single-post h6 {
    @apply -mt-16 border-t-16 border-solid border-transparent;
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box;
  }
  */
}

@screen sm {
  /*
  * on large screen display the photo EXIF on 2x2 grids
  */
  .photoExifBox {
    @apply block p-0 mt-0;
  }

  .photoExifBoxHeader {
    @apply border-t border-l border-r border-gray-500 text-center px-1;
  }

  .photoExifBoxHeader2 {
    @apply border-l border-r border-gray-500 px-1 text-center;
  }

  .photoExif {
    @apply text-gray-700 border-t border-l border-gray-500 grid grid-cols-2;
  }

  .photoExif > div {
    @apply mr-0 text-center p-1 border-b border-r border-gray-500;
  }
}

@screen xl {
  .table-of-contents {
    @apply visible;
    top: 5.3em;
  }
}

.progressAnimate {
  @apply inline-block border-2 border-black w-4 h-4 rounded-full align-text-bottom;
  border-top-color: rgba(250,240,137,var(--bg-opacity));
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
