@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom class from here */
/*
 * Add some base styles
 */

/*
 * under line for a tag
 */
article a {
  @apply underline;
}

/*
 * add border to code blocks
 */
article pre {
  @apply border;
}

/*
 * add bullet to list
 */
article ul {
  @apply list-disc;
}

/*
 * custom class tag
 */
.post-tag {
  @apply py-1 px-2 m-1 bg-gray-200 rounded-sm;
}

.post-tag a {
  @apply no-underline;
}

/*
 * custom class note
 */
.note {
  @apply border-t border-b border-black text-white p-2 mb-4;
  background-color: #003371;
}

.note * {
  background: inherit;
}

.note *:last-child {
  @apply m-0;
}

/*
 * fluid svg
 */

svg {
  width: 100%;
  height: 100%;
}

/*
 * center image
 */
figure {
  max-width: 600px;
}

figcaption {
  @apply text-center italic text-sm;
  background: #f7f7f8;
}

img {
  max-width: 600px;
}

.unactive-nav {
  position: relative;
}

.unactive-nav::before, .unactive-nav::after {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  height: 2px;
  background-color: #003371;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.unactive-nav::before {
  top: 0;
  transform-origin: center right;
}

.unactive-nav:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}

.unactive-nav::after {
  bottom: 0;
  transform-origin: center left;
}

.unactive-nav:hover::after {
  transform-origin: center right;
  transform: scaleX(1);
}

.active-nav {
  position: relative;
}

.active-nav::before, .active-nav::after {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  height: 2px;
  background-color: #003371;
  transform: scaleX(1);
  transition: transform 0.5s ease;
}

.active-nav::before {
  top: 0;
  transform-origin: center right;
}


.active-nav::after {
  bottom: 0;
  transform-origin: center left;
}

.nav-fixed {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  position: fixed;
}
