# ignore npm module dependencies
/node_modules

# files after build
/dist

# secrets and errors
.env

# macOS related files
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon^M

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Dropbox settings and caches
.dropbox
.dropbox.attr
.dropbox.cache
