[build]
  publish = "dist"
  command = "npm run build:refresh-data"

#[[plugins]]
#  package = "netlify-plugin-no-more-404"
#  [plugins.inputs]
#    on404 = "error"
#    cacheKey = "key1"
#    debugMode = false

#[[plugins]]
#  package = "netlify-plugin-checklinks"
#  [plugins.inputs]
#    entryPoints = ["*.html"]
#    recursive = true
#    pretty = true
#    checkExternal = true

[[redirects]]
  from = "https://guangshi.netlify.app/*"
  to = "https://www.shisguang.com/:splat"
