{% extends "layouts/default.njk" %}

{% block content %}
  <article>
    {% include 'partials/_aboutCard.njk' %}
  <section class="mt-8 flow b-text">
  {{ content | safe }}
  </section>
  </article>
{% endblock %}
