<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/_includes/css/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="{%- if description -%}{{ description }} | {{ site.description }}{%- else -%}{{ site.description }}{%- endif -%}">
    <link rel="alternate" href="/feed.xml" title="Blog posts feed, by Guang Shi" type="application/atom+xml">
    <title>{%- if title -%}{{ title }} | {{ site.title }}{%- else -%}{{ site.title }}{%- endif -%}</title>
    <style type="text/css">
    {% injectTypography %}
    </style>

    {% block head %}
    {% endblock %}
  </head>
  <body class="antialiased text-black">
    {% if not disableNavigation %}
      {% include "partials/nav.njk" %}
    {% endif %}
    <main class="mx-auto px-6 pt-32 sm:pt-20" style="max-width:800px">
    {% block content %}
    {% endblock %}
    </main>
  </body>
</html>
