{# include javascript code for load service worker #}
{% set loadServiceWorker %}
  {% include "js/loadServiceWorker.js" %}
{% endset %}


<!DOCTYPE html>
{# change the default language of the page, useful for post in chinese #}
{% if language === 'Chinese' or language === 'chinese' %}
  <html lang="zh">
{% else %}
  <html lang="en">
{% endif %}
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.googleAnalyticsId }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-R1DZ4WRM5Q');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {#<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@700;800;900&family=Inter:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">#}

    {# leave a placeholder for injecting purged css in the production mode #}
    {# link to external main.css in the development mode #}
    {% if site.ENV === "production" %}
      <style></style>
    {% elif site.ENV === "development" %}
      <link rel="stylesheet" href="/_includes/css/main.css">
    {% endif %}

    {# use favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {# inject description/title/excerpt #}
    {# Use description/title/excerpt if they are defined in the front matter in the page template #}
    {# otherwise use the site wide title and description #}
    <meta name="description" content="{%- if description -%}{{ description }} | {{ site.DESCRIPTION }}{%- elif excerpt -%}{{ excerpt }} | {{ site.DESCRIPTION}}{%- else -%}{{ site.DESCRIPTION }}{%- endif -%}">
    <title>{%- if title -%}{{ title }} | {{ site.TITLE }}{%- else -%}{{ site.TITLE }}{%- endif -%}</title>

    {# link for RSS/ATOM feed #}
    <link rel="alternate" type="application/atom+xml" title="{{ site.FEED.TITLE }}" href="{{ site.FEED.PATH }}">

    {# add canoncial link #}
    <link href={{ site.URL + page.url }} rel="canonical">

    {# only include google analytics if it is defined in site.js and the environment is production #}
    {% if site.ENV == "production" and site.GOOGLE_ANALYTICS %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.GOOGLE_ANALYTICS }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.GOOGLE_ANALYTICS }}');
      </script>
    {% endif %}
    {# end of google analytics #}

    {# include netlify cms for home page #}
    {% if site.ENABLE_NETLIFY_CMS and pageType === 'home' %}
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
    {% endif %}

    {# load instant page if enabled in global data site.js #}
    {% if site.INSTANT_PAGE %}
      <script defer src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
    {% endif %}

    {# inject link script tag if defined in the front matter #}
    {# inline script if defined in the front matter #}
    {% if script %}
      {% for item in script %}
        {% if item.link %}
          {% if item.head %}
            {% if item.async %}
              <script src="{{ item.src }}" async></script>
            {% elif item.defer %}
              <script src="{{ item.src }}" defer></script>
            {% else %}
              <script src="{{ item.src }}"></script>
            {% endif %}
          {% endif %}
        {% elif item.inline %}
          {% if item.head %}
            {% set scriptRaw %}
              {% include item.src %}
            {% endset %}
            <script>
              {{ scriptRaw | jsmin | safe }}
            </script>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {# define a block named head #}
    {# can be used in the child template/layout #}
    {% block head %}
    {% endblock %}
  </head>

  {% block bodyopen %}
  <body class="antialiased">
  {% endblock %}

  {% block body %}
  {% endblock %}

  {# use service worker. Inline load service worker script #}
  <script>
    {{ loadServiceWorker | jsmin | safe }}
  </script>

  {# inline script if it is defined in the front matter #}
  {% if script %}
    {% for item in script %}
      {% if item.link %}
        {% if item.head %}
        {% else %}
          {% if item.async %}
            <script src="{{ item.src }}" async></script>
          {% elif item.defer %}
            <script src="{{ item.src }}" defer></script>
          {% else %}
            <script src="{{ item.src }}"></script>
          {% endif %}
        {% endif %}
      {% elif item.inline %}
        {%if head %}
        {% else %}
          {% set scriptRaw %}
            {% include item.src %}
          {% endset %}
          <script>
            {{ scriptRaw | jsmin | safe }}
          </script>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {# define block bodyend #}
  {# can be used to inject content just before the closing of body tag #}
  {% block bodyclose %}
  {% endblock %}
  </body>
</html>
