{% set typesetCSS %}
  {% include '../css/typeset.css' %}
{% endset %}

<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/_includes/css/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://stats.g.doubleclick.net">
    <link rel="preconnect" href="https://www.google-analytics.com">
    <meta name="description" content="{%- if description -%}{{ description }} | {{ site.DESCRIPTION }}{%- elif excerpt -%}{{ excerpt }} | {{ site.DESCRIPTION}}{%- else -%}{{ site.DESCRIPTION }}{%- endif -%}">
    <title>{%- if title -%}{{ title }} | {{ site.TITLE }}{%- else -%}{{ site.TITLE }}{%- endif -%}</title>
    <link rel="alternate" href="/{{ site.FEED.PATH }}" title="{{ site.FEED.TITLE }}" type="application/atom+xml">
    <!-- only include google analytics if it is defined in site.js and the environment is production -->
    {% if site.ENV == "production" and site.GOOGLE_ANALYTICS %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.GOOGLE_ANALYTICS }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.GOOGLE_ANALYTICS }}');
      </script>
    {% endif %}
    <!-- end of google analytics -->
    <!--<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&family=Inter:wght@200..900&display=swap" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css2?family=Teko&text=Guang%20Shi&display=swap" rel="stylesheet">-->
    <style>
    {% injectTypography %}body p{letter-spacing:-0.011em;}figure{margin-left:auto;margin-right:auto}img{margin-left:auto;margin-right:auto}
    </style>
    <style>
      {{ typesetCSS | safe }}
    </style>
    {% block head %}
    {% endblock %}
  </head>
  <body class="antialiased text-black h-full flex flex-col">
    {% ifAsync not disableNavigation %}
      {% include "partials/_nav.njk" %}
    {% endif %}
    <main class="sm:mx-auto px-4 pt-24 sm:pt-20 flex-grow flex-shrink-0 w-full" style="max-width:800px">
    {% block content %}
    {% endblock %}
    </main>
    {% ifAsync not disableFooter %}
      {% include "partials/_footer.njk" %}
    {% endif %}
    <!-- include netlify cms for home page -->
    {#
    {% if pageType === 'home' %}
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" async defer></script>
    {% endif %}
    #}
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      };
    </script>
    {% block bodyend %}
    {% endblock %}
  </body>
</html>
