{% extends "layouts/base.njk" %}

{% block content %}
<article>
{% if coverImage %}
<figure class="shadow-md mx-auto" style="max-width:600px">
  <img src="{{ coverImage }}" alt="Photo">
</figure>
{% endif %}
{{ content | safe }}
</article>
{% endblock %}
