{% set openPostExcerptJS %}
  {% include "../js/openPostExcerpt.js" %}
{% endset %}

{% import "../partials/_postList.njk" as postList %}

{% set pageType = 'home' %}

{% extends "layouts/base.njk" %}

{% block head %}
<script>
  {{ openPostExcerptJS | jsmin | safe }}
</script>
{% endblock %}

{% block content %}
{{ content | safe }}
{# research section #}
<section class="my-8">
  <h1 class="text-lg mb-4 font-light">Research Projects</h1>
  <div class="research-card-display">
    {% for project in collections.research | reverse -%}
      {% if project.fileSlug !== "summary" -%}
        <a href="/research#{{ project.data.title | slug }}" class="research-card divide-y group no-underline text-black border">
          <h2 class="research-title">{{ project.data.title }}</h2>
          <figure class="research-figure">
            <img src="{{ project.data.image.pathThumbnail }}" alt="{{ project.data.image.description }}">
          </figure>
        </a>
      {%- endif %}
    {%- endfor %}
  </div>
</section>
{# posts section #}
<section class="my-8">
  <h1 class="text-lg font-light mb-4">Latest Posts</h1>
  {{ postList.items(collections.postsLatest) }}
</section>
{% endblock %}
