{% extends "layouts/base.njk" %}

{% block head %}
<style>
#posts:hover .collapsed{max-height:300px !important}
</style>
{% endblock %}

{% block content %}
{# research section #}
<section class="pb-8 mb-8 border-b">
  <h4 class="font-bold">Research Projects</h4>
  <div class="flex flex-wrap -mx-2">
    {% for project in collections.research | reverse %}
      {% if project.fileSlug !== "summary" %}
        <a href="/research#{{ project.data.title | slug }}" class="group w-1/2 sm:w-1/4 p-4">
          <div class="border hover:border-black p-2 rounded-sm h-full flex flex-col">
            <div><p class="group-hover:underline leading-tight font-medium">{{ project.data.title }}</p></div>
            <div class="flex flex-col justify-center flex-grow">
              <figure class="w-full relative m-0" style="padding-top:100%">
                <img class="absolute w-full h-full inset-0 m-0 object-contain" src="{{ project.data.image }}">
              </figure>
            </div>
          </div>
        </a>
      {% endif %}
    {%- endfor %}
  </div>
</section>
{# posts section #}
<section>
  <h4 class="font-bold">Latest Posts</h4>
  <ol class="ml-0">
  {% for post in collections.postsLatest %}
    <li class="mb-4 border border-transparent hover:border-black hover:shadow-md p-2 rounded-sm" id="posts">
      <div class="flex">
        <div class="w-3/4 whitespace-no-wrap overflow-hidden font-medium" style="text-overflow:ellipsis">
          <a href="{{ post.url }}">
            {{ post.data.title }}
          </a>
        </div>
        <div class="w-1/4">
          <p class="text-right text-gray-500">
            {{ post.date | formatDate }}
          </p>
        </div>
      </div>
      <hr class="mb-2">
      <div class="flex collapsed h-auto overflow-hidden" style="transition:max-height 0.5s ease-in-out;max-height:0;transition-delay:0.3s">
        {{ post.data.excerpt | renderUsingMarkdown | safe }}
      </div>
    </li>
  {% endfor %}
  </ol>
</section>
{% endblock %}
