{% set openPostExcerptJS %}
  {% include "../js/openPostExcerpt.js" %}
{% endset %}

{% import "../partials/_postList.njk" as postList %}

{% set pageType = 'home' %}

{% extends "layouts/base.njk" %}

{% block head %}
<script>
  {{ openPostExcerptJS | safe }}
</script>
{% endblock %}

{% block content %}
{{ content | safe }}
{# research section #}
<section class="mb-8">
  <h1 class="section-header">Research Projects</h1>
  <div class="research-display">
    {% for project in collections.research | reverse -%}
      {% if project.fileSlug !== "summary" -%}
        <a href="/research#{{ project.data.title | slug }}" class="research-item group">
          <h2 class="research-title">{{ project.data.title }}</h2>
          <figure>
            <img src="{{ project.data.image.pathThumbnail }}" alt="{{ project.data.image.description }}">
          </figure>
        </a>
      {%- endif %}
    {%- endfor %}
  </div>
</section>
{# posts section #}
<section class="mb-8">
  <h1 class="section-header">Latest Posts</h1>
  {{ postList.items(collections.postsLatest) }}
</section>
{% endblock %}
