{% extends "layouts/base.njk" %}

{% set cloudinary_url = "https://res.cloudinary.com/" + site.CLOUDINARY + "/image/upload" %}

{% block content %}
{% for photo in collections.photos | reverse -%}
    {% set photoSlug = photo.public_id.split("/")[1] | slug %}
    {% if loop.last %}
    <section class="mb-8">
    {% else %}
    <section class="mb-24">
    {% endif %}
        <a href="/photos/{{ photoSlug }}">
            <picture>
                <source
                    srcset="{{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_800/{{ photo.public_id }}.webp 800w,
                            {{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_1600/{{ photo.public_id }}.webp 1600w"
                    type="image/webp">
                <img
                    sizes="(max-width:650px) 100vw,
                        768px"
                    srcset="{{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_800/{{ photo.public_id }}.jpg 800w,
                            {{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_1600/{{ photo.public_id }}.jpg 1600w"
                    src="{{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_1600/{{ photo.public_id }}.jpg"
                    alt="{{ photo.context.custom.alt }}"
                    class="shadow-lg"
                >
            </picture>
        </a>
        {#
        <div class="flex items-end justify-end">
            <span class="text-xs px-1 bg-gray-300 rounded-sm">{{ photo.context.custom.type | first | upper }}</span>
            <div>
                {% for tag in photo.tags %}
                    <span class="text-xs px-1 bg-gray-300 rounded-sm">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>
        #}
    </section>
{%- endfor %}
{% endblock %}
