{% set scrollActiveTOC %}
  {% include "../js/scrollActiveTOC.js" %}
{% endset %}

{% extends "layouts/base.njk" %}
{% set pageType = "post" %}

{% block head %}
{# include prismjs theme css file #}
<link rel="stylesheet" type="text/css" href="/_includes/css/atelier-forest-light.css">

{# include katex css file #}
{% if disableKatex %}
{% else %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css" integrity="sha384-yFRtMMDnQtDRO8rLpMIKrtPCD5jdktao2TV19YiZYWMDkUR5GQZR/NOVTdquEx1j" crossorigin="anonymous">
{# in-page custom style for katex and img #}
<style type="text/css">
.katex-block { overflow-x:scroll }
.katex { font-size: 1.1em; }
</style>
{% endif %}
{# include javscript for scroll active table of contents #}
<script>
  {{ scrollActiveTOC | safe }}
</script>
{% endblock %}

{% block content %}
<article class="single-post">
  {% if image %}
  <header>
    <figure>
      <img src="{{ image.path }}" alt="{{ image.description }}">
    </figure>
  </header>
  {% endif %}
  <header>
    <h1 class="capitalize text-4xl text-left leading-snug">{{ title }}</h1>
    <div class="flex justify-between text-sm">
      <div class="uppercase self-center font-light">
        {% dayjs page.date, 'MMM DD, YYYY' %}
      </div>
      <div class="self-center">
        {%- for tag in tags %}
          {% if tag !== "pinned" %}
            <a class="mx-1 p-1 font-mono hover:bg-black hover:text-white" href="/tags/{{ tag | slug }}">
            #{{ tag }}
            </a>
          {% endif %}
        {% endfor -%}
      </div>
    </div>
  </header>
  <hr class="my-4 bg-black" style="height:3px">
  <main class="mx-auto" style="max-width:40em;">
    {{ content | safe }}
  </main>
</article>
{% endblock %}
