{% import "../partials/_postList.njk" as postList %}

{% extends "layouts/base.njk" %}
{% set pageType = "posts" %}

{% block head %}
<script>
function openExcerpt(toggle, id) {
  var elem = document.getElementById(id);

  toggle.classList.toggle("plus-minus-toggle");

  if (elem.style.maxHeight === "0px") {
    elem.style.maxHeight = elem.scrollHeight + "px";
  } else {
    elem.style.maxHeight = "0px";
  }
}
</script>
{% endblock %}

{% block content %}
<section>
  <h4 class="font-bold">Pinned Posts</h4>
  <ol class="ml-0">
    {{ postList.display(collections.pinned | reverse, pinned=true) }}
  </ol>
</section>
<section>
  <h4 class="font-bold">All Posts</h4>
  <section>
    <div class="flex flex-wrap mb-8 p-2 text-xs font-mono justify-center">
      {% for tag, number in collections.tagList %}
        <div class="inline-block mr-2 mb-2">
          <span class="rounded-l-sm inline-block bg-gray-200 hover:bg-gray-500 mr-0 px-2 py-1 border-t border-b border-l">
            <a href="/tags/{{ tag | slug }}">
            #{{ tag }}
            </a>
          </span><span class="rounded-r-sm inline-block ml-0 px-2 py-1 border-t border-b border-r">{{ number }}</span>
        </div>
      {% endfor %}
    </div>
  </section>
  <ol class="ml-0">
    {{ postList.display(collections.posts) }}
  </ol>
</section>
{% endblock %}
