{% extends "layouts/base.njk" %}
{% set pageType = "post" %}

{% block head %}
{# include prismjs theme css file #}
<link rel="stylesheet" type="text/css" href="/_includes/css/atom-one-light.css">

{# include katex css file #}
{% if disableKatex %}
{% else %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css" integrity="sha384-yFRtMMDnQtDRO8rLpMIKrtPCD5jdktao2TV19YiZYWMDkUR5GQZR/NOVTdquEx1j" crossorigin="anonymous">
{# in-page custom style for katex and img #}
<style type="text/css">
.katex-block{overflow-x:scroll}
</style>
{% endif %}

{% endblock %}
{% block content %}
<article class="single-post">
  {% if image %}
  <header>
    <figure>
      <img src="{{ image.path }}" alt="{{ image.description }}">
    </figure>
  </header>
  {% endif %}
  <header>
    <h1 class="text-left">{{ title }}</h1>
    <div class="flex justify-between text-sm font-hairline">
      <div class="self-center">
        {% dayjs page.date, 'MMM DD, YYYY' %}
      </div>
      <div class="self-center">
        {%- for tag in tags %}
          {% if tag !== "pinned" %}
            <button class="post-tag hover:bg-gray-500">
              <a href="/tags/{{ tag | slug }}">
              #{{ tag }}
              </a>
            </button>
          {% endif %}
        {% endfor -%}
      </div>
    </div>
  </header>
  <hr class="my-4">
  <main class="mx-auto" style="max-width:40em;">
    {{ content | safe }}
  </main>
</article>
{% endblock %}
