{% set openPostExcerptJS %}
  {% include "../js/openPostExcerpt.js" %}
{% endset %}

{% import "../partials/_postList.njk" as postList %}

{% extends "layouts/base.njk" %}
{% set pageType = "posts" %}

{% block head %}
<script>
  {{ openPostExcerptJS | safe }}
</script>
{% endblock %}

{% block content %}
<section>
  <h1 class="font-bold text-2xl">Pinned Posts</h1>
  {{ postList.cards(collections.pinned | reverse) }}
</section>
<section>
  <h1 class="font-bold text-2xl">All Posts</h1>
  <div>
    <div class="flex flex-wrap mb-8 p-2 text-xs font-mono justify-center">
      {% for tag, number in collections.tagList %}
        <div class="inline-block mr-2 mb-2">
          <span class="rounded-l-sm inline-block bg-gray-200 hover:bg-gray-500 mr-0 px-2 py-1 border-t border-b border-l">
            <a href="/tags/{{ tag | slug }}">
            #{{ tag }}
            </a>
          </span><span class="rounded-r-sm inline-block ml-0 px-2 py-1 border-t border-b border-r">{{ number }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
  {{ postList.items(collections.posts) }}
</section>
{% endblock %}
