{% set openPostExcerptJS %}
  {% include "../js/openPostExcerpt.js" %}
{% endset %}

{% import "../partials/_postList.njk" as postList %}

{% extends "layouts/base.njk" %}
{% set pageType = "posts" %}

{% block head %}
<script>
  {{ openPostExcerptJS | safe }}
</script>
{% endblock %}

{% block content %}
{#
<section>
  <h1 class="section-header">Pinned Posts</h1>
  {{ postList.cards(collections.pinned | reverse) }}
</section>
#}
<section>
  {#
  <h1 class="section-header">All Posts</h1>
  #}
  {#
  <div>
    <div class="text-sm">
      {% for tag, number in collections.tagList %}
        <div class="inline-block mr-2 mb-2">
          <span class="rounded-l-sm inline-block bg-gray-200 hover:bg-gray-500 mr-0 px-2 py-1 border-t border-b border-l">
            <a href="/tags/{{ tag | slug }}">
            #{{ tag }}
            </a>
          </span><span class="rounded-r-sm inline-block ml-0 px-2 py-1 border-t border-b border-r">{{ number }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
  #}
  {{ postList.items(collections.posts) }}
</section>
{% endblock %}
