{% set openPostExcerptJS %}
  {% include "../js/openPostExcerpt.js" %}
{% endset %}

{% extends "layouts/base.njk" %}
{% set pageType = "tags" %}
{#{% set tagPosts = collections[ tag ] %}#}


{% block head %}
<script>
  {{ openPostExcerptJS | jsmin | safe }}
</script>
{% endblock %}

{% block content %}
  {{ content | safe }}
{% endblock %}
