---
permalink: admin/index.html
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Content Manager</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.0/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
  </head>
  <body>
    <!-- Include the script that builds the page and powers Netlify CMS -->
    <script src="https://unpkg.com/netlify-cms@^2.9.7/dist/netlify-cms.js"></script>
    <script>
      CMS.registerPreviewStyle("/_includes/css/main.css");
      CMS.registerPreviewStyle("/_includes/css/prism-sulphurpool.css");
      CMS.registerPreviewStyle(`{% injectTypography %}`, { raw: true });
      CMS.registerPreviewStyle("https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css");
    </script>
  </body>
</html>
