---
layout: layouts/default.njk
permalink: /photos/index.html
title: Photos
description: A collection of Guang Shi's photos
script:
    - src: js/lazyLoading.js
      inline: true
      head: true
    - src: https://cdn.jsdelivr.net/npm/vanilla-lazyload@15.1.1/dist/lazyload.min.js
      link: true
      async: true
      head: true
---

{% set archiveLogo %}
  {% include "svg/archive.svg" %}
{% endset %}

{% set cloudinary_url = "https://res.cloudinary.com/" + site.CLOUDINARY + "/image/upload" %}

<a href="/photos/archive/" class="border border-darkblue inline-flex items-center mb-4 no-underline px-3 py-2">
  <span class="mr-2 block w-4">{{ archiveLogo | svgo | safe }}</span>
  <span>Archive</span>
</a>
{% for photo in collections.photos | reverse -%}
    {% set photoSlug = photo.public_id.split("/")[1] | slug %}
    {% if loop.last %}
    <section class="mb-8">
    {% else %}
    <section class="mb-24">
    {% endif %}
    {% if loop.index < 4 %}
    <a href="/photos/{{ photoSlug }}/" alt="photo: {{ photo.context.custom.caption }}">
        <picture>
            <source
                srcset="{{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_800/{{ photo.public_id }}.webp 800w,
                        {{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_1600/{{ photo.public_id }}.webp 1600w"
                type="image/webp">
                <img
                sizes="(max-width:650px) 100vw,
                    768px"
                srcset="{{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_800/{{ photo.public_id }}.jpg 800w,
                        {{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_1600/{{ photo.public_id }}.jpg 1600w"
                src="{{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_1600/{{ photo.public_id }}.jpg"
                alt="{{ photo.context.custom.alt }}"
                class="shadow-lg"
            >
        </picture>
    </a>
    {% else %}
    <a href="/photos/{{ photoSlug }}/">
        <picture>
            <source
                data-srcset="{{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_800/{{ photo.public_id }}.webp 800w,
                        {{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_1600/{{ photo.public_id }}.webp 1600w"
                type="image/webp">
                <img
                src="{{ cloudinary_url }}/e_blur:1000,f_auto,q_0,w_1600/e_grayscale/{{ photo.public_id }}.jpg"
                data-sizes="(max-width:650px) 100vw,
                    768px"
                data-srcset="{{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_800/{{ photo.public_id }}.jpg 800w,
                        {{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_1600/{{ photo.public_id }}.jpg 1600w"
                data-src="{{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_1600/{{ photo.public_id }}.jpg"
                alt="{{ photo.context.custom.alt }}"
                class="shadow-lg lazy"
            >
        </picture>
    </a>
    {% endif %}
    </section>
{%- endfor %}
