---
pagination:
    data: collections.photos
    size: 1
    alias: photo
    addAllPagesToCollections: true
layout: layouts/photo.njk
permalink: /photos/{{ photo.public_id.split("/")[1] | slug }}/
---

{% set cloudinary_url = "https://res.cloudinary.com/" + site.CLOUDINARY + "/image/upload" %}
{% set photoTags = photo.tags %}

{% for photo in pagination.items -%}
{% if loop.last %}
<section class="mb-8">
    {% else %}
    <section class="mb-8">
        {% endif %}
        <picture>
            {% if photo.context.custom.panorama === 'True' %}
            <source srcset="{{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_800/{{ photo.public_id }}.webp 800w,
                    {{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_1600/{{ photo.public_id }}.webp 1600w,
                    {{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_3200/{{ photo.public_id }}.webp 3200w" 
                    type="image/webp">
            <img sizes="(max-width:650px) 100vw, 1600px" 
                srcset="{{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_800/{{ photo.public_id }}.jpg 800w,
                    {{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_1600/{{ photo.public_id }}.jpg 1600w,
                    {{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_3200/{{ photo.public_id }}.jpg 3200w"
                src="{{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_1600/{{ photo.public_id }}.jpg"
                alt="{{ photo.context.custom.alt }}" class="mb-2 shadow-lg border-2 border-gray-600" style="width:98vw;position:relative;left:50%;right:50%;margin-left:-49vw;margin-right:-49vw;max-width:unset;max-height:unset">
            {% else %}
            <source srcset="{{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_800/{{ photo.public_id }}.webp 800w,
                    {{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_1600/{{ photo.public_id }}.webp 1600w" 
                    type="image/webp">
            <img sizes="(max-width:650px) 100vw, 800px" 
                srcset="{{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_800/{{ photo.public_id }}.jpg 800w,
                    {{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_1600/{{ photo.public_id }}.jpg 1600w"
                src="{{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_1600/{{ photo.public_id }}.jpg"
                alt="{{ photo.context.custom.alt }}" class="mb-2 shadow-lg border-2 border-gray-600">
            {% endif %}
        </picture>
        <div class="flex mb-4 text-gray-700">
            {% if pagination.previousPageHref %}
            <a class="mr-auto" href="{{ pagination.previousPageHref }}">&#11104;</a>
            {% endif %}
            {% if pagination.nextPageHref %}
            <a class="ml-auto" href="{{ pagination.nextPageHref }}">&#11106;</a>
            {% endif %}
        </div>
        <div class="sm:flex items-start justify-between">
            <div class="text-left sm:w-3/4">
                {% if photo.context.custom.caption %}
                <div class="font-black">{{ photo.context.custom.caption | title }}</div>
                {% endif %}
                {% if photo.context.custom.alt %}
                <div class="mb-2">{{ photo.context.custom.alt }}</div>
                {% endif %}
                <div class="italic">&copy; {{ site.AUTHOR.NAME }} All copyrights reserved</div>
            </div>
            <div class="note mb-0 mt-4 sm:mt-0">
                {# display camera model #}
                {% if photo.context.custom.type === "digital" %}
                {% if photo.image_metadata.Model %}
                <div class="font-bold">{{ photo.image_metadata.Model }}</div>
                {% elif photo.context.custom.camera %}
                <div class="font-bold">{{ photo.context.custom.camera }}</div>
                {% endif %}
                {% elif photo.context.custom.type === "film" %}
                {% if photo.context.custom.camera %}
                <div class="font-bold">{{ photo.context.custom.camera }}</div>
                <div class="photoFilm">{{ photo.context.custom.film }}</div>
                {% endif %}
                {% else %}
                {% if photo.image_metadata.Model %}
                <div class="font-bold">{{ photo.image_metadata.Model }}</div>
                {% elif photo.context.custom.camera %}
                <div class="font-bold">{{ photo.context.custom.camera }}</div>
                {% endif %}
                {% endif %}
                {# display additional information EXIF #}
                <div class="photoExif">
                    {% if photo.image_metadata.ShutterSpeedValue %}
                    <div><span
                            style="font-variant:diagonal-fractions;">{{ photo.image_metadata.ShutterSpeedValue }}</span>
                        s</div>
                    {% endif %}
                    {% if photo.image_metadata.ApertureValue %}
                    <div>&#402;/{{ photo.image_metadata.ApertureValue }}</div>
                    {% endif %}
                    {% if photo.image_metadata.FocalLength %}
                    <div>{{ photo.image_metadata.FocalLength.split(" ")[0] | round }} &#13212;</div>
                    {% endif %}
                    {% if photo.image_metadata.ISO %}
                    <div>ISO {{ photo.image_metadata.ISO }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {%- endfor %}