---
pagination:
    data: collections.photos
    size: 1
    alias: photo
    addAllPagesToCollections: true
layout: layouts/photo.njk
permalink: /photos/{{ photo.public_id.split("/")[1] | slug }}/
---

{% set triangleRight %}
  {% include "../_includes/svg/triangle-right.svg" %}
{% endset %}

{% set triangleLeft %}
  {% include "../_includes/svg/triangle-left.svg" %}
{% endset %}

{% set cloudinary_url = "https://res.cloudinary.com/" + site.CLOUDINARY + "/image/upload" %}
{% set photoTags = photo.tags %}

{% for photo in pagination.items -%}
{% if loop.last %}
<section class="mb-8">
    {% else %}
    <section class="mb-8">
        {% endif %}
        <picture>
            {% if photo.context.custom.panorama === 'True' %}
            <source srcset="{{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_800/{{ photo.public_id }}.webp 800w,
                    {{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_1600/{{ photo.public_id }}.webp 1600w,
                    {{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_3200/{{ photo.public_id }}.webp 3200w" 
                    type="image/webp">
            <img sizes="(max-width:650px) 100vw, 1600px" 
                srcset="{{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_800/{{ photo.public_id }}.jpg 800w,
                    {{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_1600/{{ photo.public_id }}.jpg 1600w,
                    {{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_3200/{{ photo.public_id }}.jpg 3200w"
                src="{{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_1600/{{ photo.public_id }}.jpg"
                alt="{{ photo.context.custom.alt }}" 
                class="mb-2 shadow-lg" 
                style="width:98vw;position:relative;left:50%;right:50%;margin-left:-49vw;margin-right:-49vw;max-width:unset;max-height:unset">
            {% else %}
            <source srcset="{{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_800/{{ photo.public_id }}.webp 800w,
                    {{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_1600/{{ photo.public_id }}.webp 1600w" 
                    type="image/webp">
            <img sizes="(max-width:650px) 100vw, 800px" 
                srcset="{{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_800/{{ photo.public_id }}.jpg 800w,
                    {{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_1600/{{ photo.public_id }}.jpg 1600w"
                src="{{ cloudinary_url }}/c_scale,f_auto,q_auto:good,w_1600/{{ photo.public_id }}.jpg"
                alt="{{ photo.context.custom.alt }}" class="mb-2 shadow-lg">
            {% endif %}
        </picture>
        <div class="flex text-sm font-mono mb-4">
            {% if pagination.previousPageHref %}
              <a class="inline-flex items-center mr-auto" href="{{ pagination.previousPageHref }}">
                <span>
                  {{ triangleLeft | svgo | safe }}
                </span>
                <span>
                  prev
                </span>
              </a>
            {% endif %}
            {% if pagination.nextPageHref %}
            <a class="inline-flex items-center ml-auto" href="{{ pagination.nextPageHref }}">
              <span>
                next
              </span>
              <span>
                {{ triangleRight | svgo | safe }}
              </span>
            </a>
            {% endif %}
        </div>
        <div class="sm:flex items-start justify-between">
            <div class="text-left sm:w-3/4">
                {% if photo.context.custom.caption %}
                <div class="capitalize mb-2 font-black">{{ photo.context.custom.caption }}</div>
                {% endif %}
                {% if photo.context.custom.alt %}
                <div class="mb-2">{{ photo.context.custom.alt | renderUsingMarkdown | safe }}</div>
                {% endif %}
                <div class="text-gray-700">&copy; {{ site.AUTHOR.NAME }} All Copyrights Reserved</div>
            </div>
            <div class="photoExifBox">
                {# display camera model #}
                {% if photo.context.custom.type === "digital" %}
                {% if photo.image_metadata.Model %}
                <div class="photoExifBoxHeader">{{ photo.image_metadata.Model }}</div>
                {% elif photo.context.custom.camera %}
                <div class="photoExifBoxHeader">{{ photo.context.custom.camera }}</div>
                {% endif %}
                {% elif photo.context.custom.type === "film" %}
                {% if photo.context.custom.camera %}
                <div class="photoExifBoxHeader">{{ photo.context.custom.camera }}</div>
                <div class="photoExifBoxHeader2">{{ photo.context.custom.film }}</div>
                {% endif %}
                {% else %}
                {% if photo.image_metadata.Model %}
                <div class="photoExifBoxHeader">{{ photo.image_metadata.Model }}</div>
                {% elif photo.context.custom.camera %}
                <div class="photoExifBoxHeader">{{ photo.context.custom.camera }}</div>
                {% endif %}
                {% endif %}
                {# display additional information EXIF #}
                <div class="photoExif">
                    {% if photo.image_metadata.ShutterSpeedValue %}
                    <div><span>{{ photo.image_metadata.ShutterSpeedValue }}</span> &#120268;</div>
                    {% endif %}
                    {% if photo.image_metadata.ApertureValue %}
                    <div>&#402;/{{ photo.image_metadata.ApertureValue }}</div>
                    {% endif %}
                    {% if photo.image_metadata.FocalLength %}
                    <div>{{ photo.image_metadata.FocalLength.split(" ")[0] | round }} &#13212;</div>
                    {% endif %}
                    {% if photo.image_metadata.ISO %}
                    <div>&#120232;&#120242;&#120238; {{ photo.image_metadata.ISO }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {%- endfor %}
