---
layout: layouts/photo_archive.njk
permalink: /photos/archive/index.html
title: "Photos (Archive)"
description: "Archive of Guang Shi's photos"
---

{% set cloudinary_url = "https://res.cloudinary.com/" + site.CLOUDINARY + "/image/upload" %}

{% for photo in collections.photos | reverse -%}
  {% set photoSlug = photo.public_id.split("/")[1] | slug %}
  <div class="flex items-center justify-center">
  {% if photo.context.custom.panorama === "True" %}
    <a href="/photos/{{ photoSlug }}/" class="overflow-hidden">
  {% else %}
    <a href="/photos/{{ photoSlug }}/" class="h-full overflow-hidden">
  {% endif %}
        {% responImg photo.public_id, photo.context.custom.caption, "(max-width:500px) 100vw,250px", 500, [250,500], ['max-h-full','mb-0','ease-in','duration-500','transition-transform','transform','hover:scale-110'], 'guangshi' %}
    </a>
  </div>
{%- endfor %}
