---
layout: layouts/default.njk
wide: true
permalink: /photos/index.html
title: Photos
description: A collection of Guang Shi's photos
script:
    - src: js/lazyLoading.js
      inline: true
      head: true
    - src: https://cdn.jsdelivr.net/npm/vanilla-lazyload@15.1.1/dist/lazyload.min.js
      link: true
      async: true
      head: true
---

{% set archiveLogo %}
  {% include "svg/archive.svg" %}
{% endset %}

{% set cloudinary_url = "https://res.cloudinary.com/" + site.CLOUDINARY + "/image/upload" %}

<a href="/photos/archive/" class="border border-darkblue inline-flex items-center mb-4 no-underline px-3 py-2">
  <span class="mr-2 block w-4">{{ archiveLogo | svgo | safe }}</span>
  <span>Archive</span>
</a>
{% for photo in collections.photos | reverse -%}
    {% set photoSlug = photo.public_id.split("/")[1] | slug %}
    <section class="mb-48">
    {% if loop.index < 4 %}
    <a href="/photos/{{ photoSlug }}/" alt="photo: {{ photo.context.custom.caption }}">
        {% responImg photo.public_id, photo.context.custom.caption, "(max-width:650px) 100vw, (max-width:1980px) 800px, 1280px", 2400, [800,1600,2400], ['shadow-lg'], 'guangshi' %}
    </a>
    {% else %}
    <a href="/photos/{{ photoSlug }}/">
        {% responImg photo.public_id, photo.context.custom.caption, "(max-width:650px) 100vw, (max-width:1980px) 800px, 1280px", 2400, [800,1600,2400], ['shadow-lg', 'lazy'], 'guangshi' %}
    </a>
    {% endif %}
    </section>
{%- endfor %}
