---
layout: layouts/default.njk
permalink: /publication/index.html
title: Publication
description: A list of my academic publication
script:
  - src: js/tabs.js
    inline: true
---

<nav class="nav-tab font-secondary">
  <ul class="flex justify-center sm:justify-start list-none m-0 mb-8 space-x-8">
    <li class="font-black m-0 text-lg tab-active"><a href="#publications">Publications</a></li>
    <li class="font-black m-0 text-lg"><a href="#talks">Talks & Posters</a></li>
  </ul>
</nav>


<section class="tab-pane tab-active" id="publications">
{% for year, publications in getPublications | groupByEx("issued.date-parts.0.0") %}
<h2 class="text-base mb-0 mt-4">{{ year }}</h2>
<hr>
<ol class="list-outside list-none ml-0">
  {% for publication in publications %}
  <li class="mb-8">
    <div class="mb-2">
    <span class="capitalize font-medium">{{ publication.title }}</span>
    {% if publication.subtype === "preprint" %}
      <span class="uppercase py-0 px-1 text-sm bg-lightblue">preprint</span>
    {% endif %}
    {% if publication.DOI %}
      <a href="https://doi.org/{{ publication.DOI }}" class="no-underline">&#8599;</a>
    {% endif %}
    </div>
    <div class="text-sm">
    {% for author in publication.author %}
      {% if author.family == "Shi" %}
        {%  if loop.last %}
          <span class="text-darkblue">{{ author.family }}, {{ author.given }}.</span>
        {% else %}
          <span class="text-darkblue">{{ author.family }}, {{ author.given }}., </span>
        {% endif %}
      {% else %}
        {% if loop.last %}
          <span>{{ author.family }}, {{ author.given }}.</span>
        {% else %}
          <span>{{ author.family }}, {{ author.given }}., </span>
        {% endif %}
      {% endif %}
    {% endfor %}
    <span class="italic">{{ publication["container-title"] }}</span><span> ({{ publication["issued"]["date-parts"][0][0] }})</span>
    </div>
    </li>
    {% endfor %}
</ol>
{%- endfor %}
</section>

<section class="tab-pane" id="talks">
{#<h1 class="text-lg font-light mb-4">Talks and Posters</h1>#}
<ol class="list-outside list-none ml-0">
<li class="mb-8">
<div class="mb-2 capitalize">
  <span class="py-0 px-1 text-sm uppercase bg-lightblue">Talk</span>
  <span class="font-medium">A Polymer Model for predicting three-dimensional organization change from Structural Variations</span>
  </div>
  <div class="text-sm">
  <span>CSHL Genome Organization & Nuclear Function, 2020</span>
  </div>
  </li>
<li class="mb-8">
<div class="mb-2 capitalize">
  <span class="py-0 px-1 text-sm uppercase bg-lightblue">Talk</span>
  <span class="font-medium">Conformational heterogeneity in human interphase chromosome organization reconciles the FISH and Hi-C paradox</span>
  </div>
  <div class="text-sm">
  <span>APS March Meeting, 2020.</span><span> (<i>CANCELLED</i>)</span> <a href="https://absuploads.aps.org/presentation.cfm?pid=16316">SLIDES</a>
  </div>
</li>
<li class="mb-8">
<div class="mb-2 capitalize">
  <span class="py-0 px-1 text-sm uppercase bg-lightblue">Talk</span>
  <span class="font-medium">Conformational Heterogeneity of Human Interphase Chromosomes</span>
  </div>
  <div class="text-sm">
  <span>iPoLS Rice-UT Retreat. Nov, 2019.</span>
  </div>
</li>
<li class="mb-8">
<div class="mb-2 capitalize">
  <span class="py-0 px-1 text-sm uppercase bg-lightblue">Poster</span>
  <span class="font-medium">Interphase Human Chromosome Exhibits Out Of Equilibrium Glassy Dynamics</span>
  </div>
  <div class="text-sm">
  <span>CSHL Single Biomolecules, 2018</span>
  </div>
  </li>
  <li class="mb-8">
<div class="mb-2 capitalize">
  <span class="py-0 px-1 text-sm uppercase" style="background-color:#edf2f7;">Poster</span>
  <span class="font-medium">Glass-like dynamics in the folded state of human interphase chromosome</span>
  </div>
  <div class="text-sm">
  <span>APS March Meeting, 2017</span>
  </div>
  </li>
</ol>
</section>
