---
layout: layouts/default.njk
permalink: /publication/index.html
title: Publication
description: A list of my academic publication
script:
  - src: js/tabs.js
    inline: true
---

<nav class="nav-tab font-secondary">
  <ul class="flex justify-center sm:justify-start list-none m-0 mb-8 space-x-8">
    <li class="font-black m-0 text-lg tab-active"><a href="#publications">Publications</a></li>
    <li class="font-black m-0 text-lg"><a href="#talks">Talks & Posters</a></li>
  </ul>
</nav>


<section class="tab-pane tab-active" id="publications">
<p class="font-semibold font-secondary text-lg b-text"><a href="{{ site.AUTHOR.GOOGLE_SCHOLAR }}">Google Scholar</a></p>
{% for year, publications in getPublications | groupByEx("issued.date-parts.0.0") %}
<h2 class="text-base mb-0 mt-4">{{ year }}</h2>
<hr>
<ol class="list-outside list-none ml-0">
  {% for publication in publications %}
  <li class="mb-8">
    <div class="mb-2">
    <span class="capitalize font-medium">{{ publication.title }}</span>
    {% if publication.subtype === "preprint" %}
      <span class="uppercase py-0 px-1 text-sm bg-lightgray">preprint</span>
    {% endif %}
    {% if publication.DOI %}
      <a href="https://doi.org/{{ publication.DOI }}" class="no-underline">&#8599;</a>
    {% endif %}
    </div>
    <div class="text-sm">
    {% for author in publication.author %}
      {% if author.family == "Shi" %}
        {%  if loop.last %}
          <span class="text-darkblue">{{ author.family }}, {{ author.given }}.</span>
        {% else %}
          <span class="text-darkblue">{{ author.family }}, {{ author.given }}., </span>
        {% endif %}
      {% else %}
        {% if loop.last %}
          <span>{{ author.family }}, {{ author.given }}.</span>
        {% else %}
          <span>{{ author.family }}, {{ author.given }}., </span>
        {% endif %}
      {% endif %}
    {% endfor %}
    <span class="italic">{{ publication["container-title"] }}</span><span> ({{ publication["issued"]["date-parts"][0][0] }})</span>
    </div>
    </li>
    {% endfor %}
</ol>
{%- endfor %}
</section>

<section class="tab-pane" id="talks">
<ol class="list-outside list-none ml-0 mt-4">
{% for item in getTalksPosters | sort(true, false, "date") %}
<li class="mb-8">
  <div class="mb-2 capitalize">
    <span class="py-0 px-1 text-sm uppercase bg-lightgray">{{ item.type }}</span>
    <span class="font-medium">{{ item.title }}</span>
    </div>
    <div class="text-sm">
    <span>{{ item.info | inlineRenderUsingMarkdown | safe }}. {% dayjs item.date, 'MMM, YYYY' %}</span>. 
    {% if item.link %}<a href="{{ item.link.url }}">{{ item.link.title }}</a>{% endif %}
  </div>
</li>
{% endfor %}
</ol>
</section>
