---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - posts
    - pinned
  addAllPagesToCollections: true
permalink: /tags/{{ tag | slug }}/
title: Tags
layout: layouts/tags.njk
description: "Posts tags"
---


