---
pagination:
  data: collections.postByTag
  size: 1
  alias: tag
  addAllPagesToCollections: true
permalink: /tags/{{ tag | slug }}/
title: Tags
layout: layouts/default.njk
description: "Posts tags"
script:
  - src: js/openPostExcerpt.js
    inline: true
---

{% set pageType = "tags" %}

{% set tagPosts = collections.postByTag[ tag ][ 'posts' ] %}

<div class="text-sm font-mono font-light mb-4 pb-4">
  {% for tag, tagInfo in collections.postByTag | dictNestSortBy('count') %}
    {% set tagPath = "/tags/" + tag | slug + "/" %}
    {% if tag != 'posts' and tag != 'all' %}
      {% if page.url == tagPath %}
        <button class="post-tag bg-black text-white">
          <a href="/tags/{{ tag | slug }}">
          #{{ tag }}<sup class="font-extrabold">{{ tagInfo['count'] }}</sup>
          </a>
        </button>
      {% else %}
        <button class="post-tag hover:bg-black hover:text-white">
          <a href="/tags/{{ tag | slug }}">
          #{{ tag }}<sup class="font-extrabold">{{ tagInfo['count'] }}</sup>
          </a>
        </button>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>

<section class="mb-8">
  <div>
  {% for post in tagPosts | reverse -%}
    <div class="post-item" id="post-{{ loop.index }}">
      <div class="post-info">
        <a href="{{ post.url }}" class="no-underline">
          {{ post.data.title }}
        </a>
        <div>
          <time>
            {% dayjs post.date, 'YYYY-MM-DD' %}
          </time>
          <button class="plus-minus" id="post-toggle-{{ loop.index }}" aria-label="Open excerpt of this post" onclick="openExcerpt(this, &apos;post-excerpt-{{ loop.index }}&apos;)">
          </button>
        </div>
      </div>
      <div id="post-excerpt-{{ loop.index }}" class="post-excerpt">
        {{ post.data.excerpt | renderUsingMarkdown | safe }}
      </div>
    </div>
  {%- endfor %}
  </div>
</section>
