---
title: Page Not Found!
permalink: 404.html
layout: layouts/default.njk
disableNavigation: true
---

{% block content %}
<h1 class="text-center">{{ title }}</h1>
<p class="text-center">
Return to <a href="{{ "/" }}">Homepage</a>
</p>
{% endblock %}
