{% set rssLogo %}
  {% include "../svg/rss.svg" %}
{% endset %}

{% set copyrightLogo %}
  {% include "../svg/creative_commons.svg" %}
{% endset %}

{% set githubIcon %}
  {% include "../svg/github.svg" %}
{% endset %}

{% set instagramIcon %}
  {% include "../svg/instagram.svg" %}
{% endset %}

{% set twitterIcon %}
  {% include "../svg/twitter.svg" %}
{% endset %}

<footer class="border-t-2 border-lightblue mt-10">
  <div class="py-4 flex justify-center items-center mx-auto max-w-screen-md w-full px-4 md:px-0">
    {% if site.FEED %}
      <a href="/{{ site.FEED.PATH }}" aria-label="RSS Feed" rel="noopener noreferrer" target="_blank" class="f-icon">
        <span class="block w-4">
          {{ rssLogo | svgo | safe }}
        </span>
      </a>
    {% endif %}
    {% if site.SOURCE_CODE %}
      <a href="{{ site.SOURCE_CODE }}" aria-label="Source Code" rel="noopener noreferrer" target="_blank" class="f-icon">
        <span class="block w-4">
          {{ sourcecodeLogo | svgo | safe }}
        </span>
      </a>
    {% endif %}
    <a href="https://github.com/{{ site.AUTHOR.GITHUB }}" aria-label="Github Page" rel="noopener noreferrer" target="_blank" class="f-icon">
      <span class="block w-4">
        {{ githubIcon | svgo | safe }}
      </span>
    </a>
    {#
    <a href="https://open.spotify.com/user/22zyx7ee57x7lb4dnkmfmpv2y?si=dlbMfWqET7-b61K58n5UJw"  aria-label="My Spotify Public Profile" rel="noopener noreferrer" target="_blank" class="f-icon">
      <span>
        {{ spotifyIcon | svgo | safe }}
      </span>
    </a>
    #}
    {% if site.AUTHOR.INSTAGRAM %}
    <a href="https://www.instagram.com/{{ site.AUTHOR.INSTAGRAM }}" aria-label="Instagram" rel="noopener noreferrer" target="_blank" class="f-icon">
      <span class="block w-4">
        {{ instagramIcon | svgo | safe }}
      </span>
    </a>
    {% endif %}
    {% if site.AUTHOR.TWITTER %}
    <a href="https://twitter.com/{{ site.AUTHOR.TWITTER }}" aria-label="Twitter" rel="noopener noreferrer" target="_blank" class="f-icon">
      <span class="block w-4">
        {{ twitterIcon | svgo | safe }}
      </span>
    </a>
    {% endif %}
    <a href="https://creativecommons.org/licenses/by-nc/4.0/" aria-label="Copyright information" rel="noopener noreferrer" target="_blank" class="f-icon">
      <span class="block w-4">
        {{ copyrightLogo | svgo | safe }}
      </span>
      {#<span class="leading-none"> 2019-2020 by {{ site.AUTHOR.NAME }}</span>#}
    </a>
    {#
    <div>
      <div class="inline-flex items-center p-4 rounded-sm">
        <span class="mr-1">
          {{ publishIcon | svgo | safe }}
        </span>
        <span style="line-height:0;">{% dayjs site.BUILD_TIME, 'HH:mm MMMM DD, YYYY' %}</span>
      </div>
    </div>
    #}
  </div>
</footer>
