{% set rssLogo %}
  {% include "../svg/rss.svg" %}
{% endset %}

{% set sourcecodeLogo %}
  {% include "../svg/code.svg" %}
{% endset %}

{% set copyrightLogo %}
  {% include "../svg/creative_commons.svg" %}
{% endset %}

{% set publishIcon %}
  {% include "../svg/publish.svg" %}
{% endset %}

{% set githubIcon %}
  {% include "../svg/github.svg" %}
{% endset %}

{% set spotifyIcon %}
  {% include "../svg/spotify.svg" %}
{% endset %}

{% set instagramIcon %}
  {% include "../svg/instagram.svg" %}
{% endset %}

{% set twitterIcon %}
  {% include "../svg/twitter.svg" %}
{% endset %}

<footer class="border-t">
  <div class="p-4 text-center mx-auto" style="max-width:800px;">
    <div>
      {% if site.FEED %}
        <a href="/{{ site.FEED.PATH }}" aria-label="RSS Feed" rel="noopener noreferrer" target="_blank" class="inline-flex items-center hover:bg-black hover:text-white p-1 rounded-sm">
          <span class="w-4 h-4">
            {{ rssLogo | svgo | safe }}
          </span>
        </a>
      {% endif %}
      {% if site.SOURCE_CODE %}
        <a href="{{ site.SOURCE_CODE }}" aria-label="Source Code" rel="noopener noreferrer" target="_blank" class="inline-flex items-center hover:bg-black hover:text-white p-1 rounded-sm">
          <span class="w-4 h-4">
            {{ sourcecodeLogo | svgo | safe }}
          </span>
        </a>
      {% endif %}
      <a href="https://github.com/{{ site.AUTHOR.GITHUB }}" aria-label="Github Page" rel="noopener noreferrer" target="_blank" class="inline-flex items-center hover:bg-black hover:text-white p-1 rounded-sm">
        <span class="w-4 h-4">
          {{ githubIcon | svgo | safe }}
        </span>
      </a>
      {#
      <a href="https://open.spotify.com/user/22zyx7ee57x7lb4dnkmfmpv2y?si=dlbMfWqET7-b61K58n5UJw"  aria-label="My Spotify Public Profile" rel="noopener noreferrer" target="_blank" class="inline-flex items-center hover:bg-black hover:text-white p-1 rounded-sm">
        <span class="w-3 h-3">
          {{ spotifyIcon | svgo | safe }}
        </span>
      </a>
      #}
      {% if site.AUTHOR.INSTAGRAM %}
      <a href="https://www.instagram.com/{{ site.AUTHOR.INSTAGRAM }}" aria-label="Instagram" rel="noopener noreferrer" target="_blank" class="inline-flex items-center hover:bg-black hover:text-white p-1 rounded-sm">
        <span class="w-4 h-4">
          {{ instagramIcon | svgo | safe }}
        </span>
      </a>
      {% endif %}
      {% if site.AUTHOR.TWITTER %}
      <a href="https://twitter.com/{{ site.AUTHOR.TWITTER }}" aria-label="Twitter" rel="noopener noreferrer" target="_blank" class="inline-flex items-center hover:bg-black hover:text-white p-1 rounded-sm">
        <span class="w-4 h-4">
          {{ twitterIcon | svgo | safe }}
        </span>
      </a>
      {% endif %}
      <a href="https://creativecommons.org/licenses/by-nc/4.0/" aria-label="Copyright information" rel="noopener noreferrer" target="_blank" class="inline-flex items-center hover:bg-black hover:text-white p-1 rounded-sm">
        <span class="w-4 h-4 mr-1">
          {{ copyrightLogo | svgo | safe }}
        </span>
        <span style="line-height:0;"> 2019-2020 by {{ site.AUTHOR.NAME }}</span>
      </a>
    </div>
    {#
    <div>
      <div class="inline-flex items-center p-1 rounded-sm">
        <span class="mr-1">
          {{ publishIcon | svgo | safe }}
        </span>
        <span style="line-height:0;">{% dayjs site.BUILD_TIME, 'HH:mm MMMM DD, YYYY' %}</span>
      </div>
    </div>
    #}
  </div>
</footer>
