{% set logo %}
  {% include "../svg/logo-reverse-solid.min.svg" %}
{% endset %}

<div class="nav-fixed bg-white">
  <nav class="sm:flex items-center m-auto px-4 py-4" style="max-width:800px" id="head-navigation">
    <a href="/" class="flex items-center justify-center mb-3 sm:mb-0">
      <span style="font-size: 1.2em;">
        {{ logo | svgo | safe }}
      </span>
      <span class="font-extrabold ml-3">{{ site.TITLE }}</span>
    </a>
    <div class="flex flex-grow justify-center sm:justify-end text-gray-700">
      {% for nav in navigation.items -%}
        {% if loop.last and page.url.startsWith(nav.url) %}
          <a class="active-nav inline-block" href="{{ nav.url }}">{{ nav.title }}</a>
        {% elif loop.last and not page.url.startsWith(nav.url) %}
          <a class="unactive-nav inline-block" href="{{ nav.url }}">{{ nav.title }}</a>
        {% elif not loop.last and page.url.startsWith(nav.url) %}
          <a class="mr-3 active-nav inline-block" href="{{ nav.url }}">{{ nav.title }}</a>
        {% elif not loop.last and not page.url.startsWith(nav.url) %}
          <a class="mr-3 unactive-nav inline-block" href="{{ nav.url }}">{{ nav.title }}</a>
        {% endif %}
      {%- endfor %}
    </div>
  </nav>
</div>
