{% set logo %}
  {% include "../svg/logo-with-name-no-text.min.svg" %}
{% endset %}

<div class="nav-fixed bg-white">
  {% if wide %}
    <nav class="sm:flex items-center m-auto py-4 w-full px-4" id="head-navigation">
  {% else %}
    <nav class="sm:flex items-center m-auto py-4 w-full max-w-screen-md px-4 md:px-0" id="head-navigation">
  {% endif %}
    <a href="/" class="flex items-center justify-center mb-3 sm:mb-0">
      <span style="font-size:1.4em;">
        {{ logo | svgo | safe }}
      </span>
    </a>
    <div class="flex flex-grow justify-center sm:justify-end">
      {% for nav in navigation.items -%}
        {% if loop.last and page.url.startsWith(nav.url) %}
          <a class="active-nav inline-block" href="{{ nav.url }}">{{ nav.title }}</a>
        {% elif loop.last and not page.url.startsWith(nav.url) %}
          <a class="unactive-nav inline-block" href="{{ nav.url }}">{{ nav.title }}</a>
        {% elif not loop.last and page.url.startsWith(nav.url) %}
          <a class="mr-3 active-nav inline-block" href="{{ nav.url }}">{{ nav.title }}</a>
        {% elif not loop.last and not page.url.startsWith(nav.url) %}
          <a class="mr-3 unactive-nav inline-block" href="{{ nav.url }}">{{ nav.title }}</a>
        {% endif %}
      {%- endfor %}
    </div>
  </nav>
</div>
