{% macro items(collection) %}
<div>
  {% for post in collection -%}
    <div class="post-item" id="post-{{ loop.index }}">
      <div class="post-info">
        <a href="{{ post.url }}" class="no-underline text-black">
          {{ post.data.title }}
        </a>
        <div>
          <time>
            {% dayjs post.date, 'YYYY-MM-DD' %}
          </time>
          <button class="plus-minus" id="post-toggle-{{ loop.index }}" aria-label="Open excerpt of this post" onclick="openExcerpt(this, &apos;post-excerpt-{{ loop.index }}&apos;)">
          </button>
        </div>
      </div>
      <div id="post-excerpt-{{ loop.index }}" class="post-excerpt">
        {{ post.data.excerpt | renderUsingMarkdown | safe }}
      </div>
    </div>
  {%- endfor %}
</div>
{% endmacro %}


{% macro cards(collection) %}
<div>
  {% for post in collection -%}
    <a class="post-card" href="{{ post.url }}">
      <div class="post-title">
        {{ post.data.title }}
      </div>
      <div class="post-excerpt">
        {{ post.data.excerpt | renderUsingMarkdown | safe }}
      </div>
    </a>
  {%- endfor %}
</div>
{% endmacro %}
