{% macro display(collection) %}
  {% for post in collection %}
    <li class="mb-4 border border-transparent hover:border-black hover:shadow-md p-2 rounded-sm" id="post-{{ loop.index }}">
      <div class="flex">
        <div class="w-3/5 font-medium inline-flex items-center">
          <button class="plus-minus plus-minus-untoggle mr-2 outline-none" id="post-toggle-{{ loop.index }}" onclick="myFunction(this, 'post-excerpt-{{ loop.index }}')">
          </button>
          <a class="truncate" href="{{ post.url }}">
            {{ post.data.title }}
          </a>
        </div>
        <div class="w-2/5">
          <p class="text-right text-gray-500">
            {% dayjs post.date, 'YYYY-MM-DD' %}
          </p>
        </div>
      </div>
      <hr class="mb-2">
      <div id="post-excerpt-{{ loop.index }}" class="flex collapsed h-auto overflow-hidden" style="transition:max-height 0.5s ease-in-out;max-height:0;">
        {{ post.data.excerpt | renderUsingMarkdown | safe }}
      </div>
    </li>
  {% endfor %}
{% endmacro %}
