<footer class="py-10 bg-gray-100">
  <div class="text-center mx-auto text-sm" style="max-width:800px;">
    <p class="mb-0">
      <a href="/feed.xml" class="underline">RSS</a>
      <a href="https://github.com/anyuzx/Prongs" class="underline">Source Code</a>
      <a class="underline" href="https://creativecommons.org/licenses/by-nc/4.0/" rel="noopener noreferrer" target="_blank">CC BY-NC 4.0 license</a>
    </p>
    <p class="mb-0">
      Last updated: {{ site.buildTime | accurateTime }}
    </p>
  </div>
</footer>
