<footer class="mx-auto px-6" style="max-width:800px">
<div class="text-center">
  <p class="mb-0">
    <a href="/feed.xml" class="underline">RSS</a>
    <a href="https://github.com/anyuzx/Prongs" class="underline">Source Code</a>
    <span>all rights reserved</span>
  </p>
  <p>Last updated: {{ site.buildTime | accurateTime }}</p>
</div>
</footer>
